# This file is used to install the required packages for the project.
#pip install -r requirements.txt
#playwright install
streamlit==1.28.2
playwright==1.39.0
pandas==2.0.3
ftfy==6.1.1
transformers==4.33.1
torch==2.6.0
sumy==0.10.0
nltk==3.8.1
matplotlib==3.8.0
scikit-learn==1.4.0